*{
    padding: 0;
    margin: 0px;
    box-sizing:border-box;
}

.container{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 1000px;
    border: 1px solid blue;
}


.prin{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 300px;
    margin-left: 10px;
}

.foto{
    margin: 15px;
}

.admin{
    margin: 15px;
    font-family: DM Serif Display;
    color: #2D1856;
}

.dash{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 270px;
    margin-top: 35px;
    background-color: #baa6e1;
    margin-left: 20px;
    border-radius: 10px;
    height: 50px;
}

.fot{

    margin: 10px;
    height: 25px;
    margin-left: 15px;
}

.board{
    margin: 15px;
    color: #ffffff;
    font-size: 10px;
    height: 25px;
    margin: 15px;
}

.mai{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 280px;
    margin-top: 35px;
    background-color: #baa6e1;
    margin-left: 20px;
    border-radius: 10px;
    height: 50px;
}

.sig{
    margin: 15px;
    color: #000000;
    font-size: 10px;
    height: 25px;
    margin: 10px;
}

.idk{
    margin: 15px;
    color: #000000;
    font-size: 10px;
    height: 25px;
    margin: 15px;
}

.sopa{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 280px;
    margin-top: 10px;
    background-color: #ffffff;
    margin-left: 20px;
    border-radius: 10px;
    height: 50px;
}

.ola{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 280px;
    margin-top: 35px;
    margin-left: 20px;
    border-radius: 10px;
    height: 30px;
    font-size: 10px;
}

.ola h1 {
    color: rgb(89, 51, 186); 
}


.arriba{
    display: flex;
    width: 1200px; 
    height: 70px;
    background-color: #d1c7e4;
    justify-content: center;
    align-items: center;
}

.fotico img {
    width: 40px; 
}

.fotico{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 20px;
}

.vis{

    flex-direction: row;
}

.tigre{
    
    flex-direction: row;
    display: flex;
    height: 70px;
    align-items: center;
    margin: 20px;
    margin-top: -20px;
    font-size: 10px;
}

.home{
    
    width: 60px;
}

.do{
    
    width: 400px;
}

.home h1 {
    color: #5e478e; 
}

.letras{
    margin: 20px;
}

/* Aqui funcion de las barras y como hacerlas */

.barra {
    width: 260px;
    height: 10px; /* Altura de la barra */
    background-color: #f0f0f0; /* Color de fondo de la barra */
    border-radius: 5px; /* Borde redondeado */
    margin-bottom: 10px; /* Espacio entre barras */
    margin: 0 auto 10px auto;
  }
  
  .porcentaje {
    height: 10px;
    background-color: #5957a5; /* Color de la barra de progreso */
    border-radius: 5px; /* Borde redondeado */
  }

  .cantidad {
    width: 40%;
  }

  .canti {
    width: 60%;
  }

  .can {
    width: 30%;
  }

  .cantida {
    width: 80%;
  }


 /* Aqui termina la funcion de las barras y como hacerlas */ 

 .cuadritos{
    height: 200px;
 }

 .cua{
    border: 1px solid #d5cde9 ;
    height: 165px;
    margin-top: 0px;
    margin-left: 20px; 
    width: 275px;
    background-color: #d5cde9;
    border-radius: 10px;
 }

 .textico{
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center; 
    margin: 15px;
 }

 .si{
    margin: 15px;
    font-size: 10px;
 }

 .textico h1 {
    color: #382d52; 
}

.por{
    margin: 10px;
    font-size: 10px;
    color: #382d52; 
}

.cuadritos{
    display: flex;
    flex-direction: row;
}

.sal{
    margin: 0px;
    margin-top: 10px;
    margin-left: 25px;
    border: 1px solid red;
    height: 170px;
    background-color: #cdc0ef;
    border-radius: 10px;
    width: 1160px;
}

.reports{
    margin: 20px;
}

.holita{
    margin: 20px;
    margin-top: 35px;
}