* {
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
}

.header, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    background: blueviolet;
    text-align: center;
    padding: 25px;
}

.cajap {
    display: flex;
    flex-direction: row; /* Alinea las cajas en una fila */
    justify-content: space-between;
}

.caja1 {
    display: flex;
    width: 50vh;
    height: 30vh;
    background-color: aquamarine;
}

.caja2 {
    display: flex;
    width: 100vh;
    background-color: #b49f5f;
}

.caja3 {
    width: 50vh;
    display: flex;
    background-color: #69e615;
}



