
.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
}

.x{
    box-sizing: content-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.x img{
    padding: 15px;
}
